*{	
	padding: 0px;
	margin: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}

body {background: #F4F6F7;}
h2{margin-left: 24px;}
header img { border-radius: 15%; }
header h4 { color: white; }
nav { border-bottom: inset grey 2px; }
#demo { text-align: center; border: inset lightgrey; margin-top: 70px; margin-left: 30%; margin-right: 30%; }

.containerbody{min-height: calc(100vh - 100px - 300px);}

form{
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 15vh;
	margin-bottom: 4vh;
	width: auto;
	padding: 30px;
	background-color: #2E86C1;
	border-radius: 20px;
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

input{
	display: inline-block;
	width: 70%;
	padding: 10px 8px;
	border: 2px solid #f6f6f6;
	margin: 10px 0;
	background-color: #f6f6f6; 
	border-radius: 5px;
	margin-right: 13px;
}

#apartados .input{
	margin-left: 15%;
	margin-right: 15%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}

form input[type = "submit"], form input[type = "reset"]{
	width: 40%;
	border-radius: 4px;
	padding: 8px 10px;
	margin-top: 22px;
	color: #fff;
	background: #000;
	transition:0.3s;
}

form input[type="submit"]:hover, form input[type="reset"]:hover{
	cursor: pointer;
	background: #ccc;
}

#idSex { 
	margin-left: 15%;
	margin-right: 15%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
	}

#idMail {	
	margin-left: 15%;
	margin-right: 15%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}

#idLocalidad {	
	margin-left: 15%;
	margin-right: 15%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}


.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}

#redes img{
	margin-left: 5px; 

}