*{
	margin:0px;
	padding: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}


table{
	margin: auto;
	font-family: 'Alata';
}


.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}


#fuente{
	font-family: 'Pacifico';
}

#cabezera{
	margin: 100px;
}