*{
	margin:0px;
	padding: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;;
}


body {background: #F4F6F7;}
nav a[class="navbar-brand"]{margin-left: 10px;}
header img { border-radius: 15%; }
header h4 { color: white; }
nav { border-bottom: inset grey 2px; }
#about { text-align: center; border: solid grey; margin-top: -8px; margin-left: 30%; margin-right: 30%; }

.containerbody{min-height: calc(100vh - 100px - 300px); position: relative;}

form{
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 400px;
	padding: 30px;
	background-color: #2E86C1;
	border-radius: 20px; 
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.input{
	display: inline-block;
	width: 80%;
	padding: 10px 8px;
	border: 2px solid #f6f6f6;
	margin: 10px 0;
	background-color: #f6f6f6; 
	border-radius: 5px;
}

form input[type = "submit"]{
	width: 40%;
	border-radius: 4px;
	padding: 8px 10px;
	margin-top: 22px;
	color: #fff;
	border: 2px solid #f6f6f6;
	background: #000;
	transition:0.3s;
}

form input[type="submit"]:hover{
	cursor: pointer;
	background: #ccc;
}

footer{ display: flex; margin-top: 20px; bottom: 0; }

#redes img{ margin-left: 5px; }

.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}