*{	
	padding: 0px;
	margin: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}

carousel-inner {font-family: 'Quicksand', sans-serif;}

body {background: #F4F6F7;}
h2{margin-left: 24px;}
header img { border-radius: 15%; }
header h4 { color: white; }
header nav { border-bottom: inset grey 2px; }
.carousel { margin-top: 100px; }
#myCarousel{width: 70%; border-radius: 10px; border: 1px solid black;}

form input[type="submit"] {background: orange; padding: 50px; margin-top: 5%; margin-bottom: 5%; border: 5px solid black; border-radius: 30px; transition: 0.3s;}
form input[type="submit"]:hover {background: lightgrey;}

.containerbody{min-height: calc(100vh - 100px - 300px);}

#cards { padding: 30px;}

.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}

#redes img{
	margin-left: 5px;
}