*{	
	padding: 0px;
	margin: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}

#bg {
	background-position: center;
	background-size: cover;
}

#navfont{margin-left: 10px; font-family: 'Pacifico', sans-serif; color: #eaeaec; font-size: 5;}
header nav { border-bottom: inset grey 2px; }
.containerbody{min-height: calc(100vh - 300px - 300px);}

form{
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: auto;
	padding: 30px;
	background-color: lightgrey;
	border-radius: 20px;
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	opacity: 0.8;
}

#registrarse{ margin-bottom: 15px; }

input{
	display: inline-block;
	padding: 10px 8px;
	border: 2px solid #f6f6f6;
	margin: 10px 0;
	background-color: #f6f6f6; 
	border-radius: 5px;
	margin-right: 13px;
}

#apartados .input{
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}

#idSex { 
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
	}

#idMail {	
	margin-left: 5%;
	margin-right: 5%;
	width: 85%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}

#idLocalidad {	
	margin-left: 5%;
	margin-right: 5%;
	width: 80%;
	padding: 10px 8px;
	margin: 5px;
	border-radius: 5px;
}

form input[type = "submit"], form input[type = "reset"]{
	border-radius: 4px;
	width: 100%;
	padding: 8px 10px;
	color: #fff;
	background: #000;
	transition:0.3s;
	margin-top: 10px;
}

form input[type="submit"]:hover, form input[type="reset"]:hover{
	cursor: pointer;
	background: #ccc;
}

footer{ margin-top: 20px; bottom: 0; opacity: 0.95; }
#redes img{ margin-left: 5px; }

.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}