*{
	margin:0px;
	padding: 0px;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}

#bg {
  background-position: center;
  background-size: cover;
}

#navfont{margin-left: 10px; font-family: 'Pacifico', sans-serif; color: #eaeaec; font-size: 5;}
header nav { border-bottom: inset grey 2px; }

table{
	font-family: 'Alata', sans serif;
	border-radius: 20px;
	opacity: 0.9;
}

footer{ position: relative; width: 100%; bottom: 0px; opacity: 0.9; }
#redes img{ margin-left: 5px; }

.appWhatsapp{
	position:fixed;
	right: 26px;
	bottom: 100px;
	width: 60px;
	z-index: 1000;
}

.appWhatsapp img{
	width: 100%;
	height: auto;
}


#cabezera{
	margin: 100px;
}