*{	
	padding: 0;
	margin: 0;
	font-family: 'Alata', sans-serif;
	box-sizing: border-box;
}

carousel-inner {font-family: 'Quicksand', sans-serif;}

body {background: #F4F6F7;}
h2{	margin-left: 24px;}
header img { border-radius: 15%; }
header h4 { color: white; }
nav { border-bottom: inset grey 2px; }
.carousel { margin-top: 100px; }

form input[type="submit"] {background: orange; padding: 50px; margin-top: 5%; border: 5px solid black; border-radius: 30px; transition: 0.3s;}
form input[type="submit"]:hover {background: lightgrey;}

footer{
	margin-top: 5%;
	width: 100%;
	background: #e5e5e5;
}

.container-all{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	padding-bottom: 0px;
}

.container-footer{
	text-align: center;
	padding: 10px 8px;
	width: auto;
	background: #000000;
	justify-content: space-between;
	color:#FFFFFF;
	font-size: 10px;
}

.container-footer a{
	color: white;
}

.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:absolute;
    overflow:hidden;
}